// Variables 

// Device Breakpoints
$mobile: 991px;

// Colours

// --Primary
$tomato: hsl(4, 100%, 67%); // Tomato
$pink: rgb(255,84,116);

// --Neutral
$dark-grey: hsl(234, 29%, 20%); // Dark Slate Grey
$charcoal-grey: hsl(235, 18%, 26%); // Charcoal Grey
$plain-grey: hsl(231, 7%, 60%); // Grey
$white: hsl(0, 0%, 100%); // White

// Typography

// --Body Copy
$body: 16px;

// End Variables

// Global Styles

body {
    background: $dark-grey;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif !important;
    padding: 1rem;
    @media (max-width: $mobile) {
        padding: 0;
    }
    .newsletter {
        background: $white;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        line-height: 2.5;
        border-radius: 25px;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            max-width: 375px;
            padding: 0 2rem 2rem 2rem;
        }
        &__signup {
            max-width: 436px;
            padding: 2.5rem 3.25rem 2.5rem 1.75rem;
            @media (max-width: $mobile) {
                padding: 1.25rem 0 0 0;
            }
            h1 {
                line-height: 1;
                color: $charcoal-grey;
                font-size: 3.5rem;
                font-weight: 700;
                @media (max-width: $mobile) {
                    font-size: 2rem;
                }
            }
            &__headline {
                padding: 20px 0;
                line-height: 1.5;
            }
            ul {
                li {
                    display: flex;
                    @media (max-width: $mobile) {
                        align-items: flex-start;
                        padding-bottom: 1rem;
                        &:last-child {
                            padding-bottom: 0; /* Remove padding for the last item */
                          }
                    }
                    p {
                        line-height: 2;
                        margin-left: 1rem;
                        @media (max-width: $mobile) {
                            line-height: 1.25;
                        }
                    }
                }
            }
            &__form {
                &__header {
                    position: relative;
                    bottom: -25px;
                    h3 {
                        font-weight: 700;
                        font-size: 12px;
                        color: $dark-grey;
                    }
                    p {
                        display: none;
                    }
                }
                input {
                    border: 1px solid $plain-grey;
                    width: 100%;
                    padding: 1rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    &:focus, &:active {
                        outline: none; // Remove default outline
                        border: 1px solid $dark-grey; // Set border color to tomato
                        
                    }
                }
                button {
                    width: 100%;
                    padding: 1rem;
                    margin-top: 1.25rem;
                    background: $dark-grey;
                    font-weight: 700;
                    color: $white;
                    font-size: 1rem;
                    border-radius: 10px;
                    border: none;
                    transition: box-shadow 0.3s ease-in-out;
                    &:hover {
                        background: linear-gradient(to left, $tomato, $pink);
                        box-shadow: 0 4px 8px 1px $tomato;
                        outline: 1px solid $tomato;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .success {
        background: $white;
        max-width: 420px;
        padding: 2rem;
        img {
            max-width: 40px;
            padding-bottom: 2rem;
        }
        h2 {
            line-height: 1;
            color: $charcoal-grey;
            font-size: 2.75rem;
            font-weight: 700;
            @media (max-width: $mobile) {
                font-size: 2rem;
            }
            padding-bottom: 1rem;
        }
        p {
            font-size: 1rem;
            padding-bottom: 1.75rem;
            line-height: 1.25;
        }
        button {
            width: 100%;
            padding: 1rem;
            margin-top: 1.25rem;
            background: $dark-grey;
            font-weight: 700;
            color: $white;
            font-size: 1rem;
            border-radius: 10px;
            border: none;
            transition: box-shadow 0.3s ease-in-out;
            &:hover {
                background: linear-gradient(to left, $tomato, $pink);
                box-shadow: 0 4px 8px 1px $tomato;
                outline: 1px solid $tomato;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: $mobile) {
    .hiddenMobile {
        display: none;
    }
}

#emailError {
    position: relative;
    top: -5px;
    right: 0;
}